@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* BASIC FORMATTING */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
:root {
  --button-color: #209d5c;
}

img {
  max-width: 100%;
}

body {
  font-family: Poppins;
  font-size: 1.125rem;
  color: black;
  background-color: #063270;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
  color: white;
  text-transform: uppercase;
  justify-content: center;
  align-items: baseline;
}

header img{
  object-fit: scale-down;
}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0 0 1.5rem 0;
  margin-top: 0;
}
nav ul{
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  gap: 1rem;
  margin: 0;
  font-weight: normal;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  display: flex;
  flex-flow: column wrap;
  background-color: white;
  text-align: center;
  border-bottom: 7px solid #ffd034;
  border-top: 7px solid #ffd034;
}
h1 {
  font-weight: normal;
  padding-top: 0;
  margin: 0;
  margin-left: 0.5rem;
}

.welcomebanner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: left;
}

.welcomebanner img {
  object-fit: cover;
  padding: 3rem;
}

.welcomebanner h2 {
  font-weight: 400;
}

.welcbantxt {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  padding: 2rem;
  justify-content: left;
}

.button {
  display: inline;
  justify-self: end;;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--button-color);
}